Repository stefanorosanelli/web-tools, pull requests merged in 2022-09, with the labels that each got.

#1 PR to test semver release on 1.x
  .github/workflows/release.yml
Labels: patch

#4 Releases with rymndhng/release-on-push-action
  .github/workflows/release.yml
Labels: release:patch

#5 [master / 3.x] Releases with rymndhng/release-on-push-action
  .github/workflows/release.yml
Labels: release:patch

#6 chore: experiment 1
  .github/workflows/release.yml
Labels: release:minor

#25 feat: realease
  .github/workflows/release.yml
Labels: bug, release:patch

#26 chore: test
  src/ApiClientProvider.php
Labels: enhancement, release:minor

#29 Rename input vars
  .github/workflows/release.yml
Labels: release:minor

#30 chore: version.ini
  .github/workflows/release.yml
  config/version.ini
Labels: release:minor

#31 chore: typo
  .github/workflows/release.yml
Labels: release:minor

#32 chore: use new line
  .github/workflows/release.yml
Labels: release:patch

#33 chore: ...
  .github/workflows/release.yml
Labels: release:patch

#34 Chore/new release
  .github/workflows/release.yml
  config/version.ini
Labels: release:minor

#35 Test 1 - version ini from fork
  .github/workflows/release.yml
Labels: release:patch

#36 Test 1 - version ini from fork
  .github/workflows/release.yml
Labels: release:patch

#37 chore: use github-script
  .github/workflows/release.yml
Labels: release:patch

#38 chore: remove version
  .github/workflows/release.yml
Labels: release:patch

#39 chore: ...
  .github/workflows/release.yml
Labels: release:minor

#40 Test
  .github/workflows/release.yml
Labels: release:patch

#41 test
  .github/workflows/release.yml
Labels: release:patch

#42 TEST
  .github/workflows/release.yml
Labels: release:patch
